
#c {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
}
#img1 {
	margin-top: -240px;
	max-width: 150px;
}

#img2 {
	margin-top: -240px;
	max-width: 150px;
}
.form-signin-heading {
	margin-top: -30px;
}
.form-signin {
	background-color: #FFFFFF;
	border: groove;
  max-width: 470px;
  height: 600px;
  padding: 30px;
  padding-top: 190px;
  margin: 200px 400px auto auto;
}
.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	margin-top: 20px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin a {
	padding-left: 260px;
}